<div class="slider">
    <h2>Наши города</h2>
    <div class="slider-buttons-wrapper">
        <div class="slider-items-wrapper">
            <div class="slider-item">
                <img src="../Static/IMG/spb.jpg" alt="Saint-Petersburg" />
            </div>
            <div class="slider-item">
                <img src="../Static/IMG/ny.jpg" alt="New-York" />
            </div>
            <div class="slider-item">
                <img src="../Static/IMG/london.jpg" alt="London" />
            </div>
        </div>

        <button class="nav-button nav-button-prev" id="bt-prev"><<</button>
        <button class="nav-button nav-button-next" id="bt-next">>></button>

        <div class="indicators-container">
            <span><button class="slider-indicator"></button></span>
            <span><button class="slider-indicator slider-indicator-selected"></button></span>
            <span><button class="slider-indicator"></button></span>
        </div>
    </div>
    <h4>%TownName%</h4>
</div>


