<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script defer type="text/javascript" src="../Static/JS/about.js"></script>
</head>

<!--SIDEBAR-->
<body>
    <header id="header-index">
        <h1>LifeSpot - О проекте</h1>
        <p>Учебный проект.</p>
        <p>Сайт позволяет смотреть в прямом эфире и в записи трансляции с улиц городов мира с легальных открытых камер, в данный момент - youtube.com.</p>
    </header>

    <!--SLIDER-->
    <div class="reviews">
        <p class="reviews-caption">Здесь Вы можете оставить свои отзывы и пожелания о проекте</p>
        <div class="review-button">
            <button onclick="addComment()">Оставить отзыв</button>
        </div>
        <div class="review-block">
            <!-- Сюда будут динамически писаться отзывы -->
        </div>
    </div>

</body>
<!--FOOTER-->

</html>