<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!-- Задание 27.1.4 Подключение стилей по относительному пути из внешнего файла -->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />

    <!-- Подключили скрипты JS -->
    <script type="text/javascript" src="../Static/JS/index.js"></script>

    <script>
        // обработка сессии
        //handleSession(logger, checker /* Коллбек-функции */);
    </script>
</head>
<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
    </header>

    <!--SIDEBAR-->
    <div class="search">
        <input type="search" oninput="
               inputParseFunction = getUserInput();
               filterContent();
               " placeholder="Поиск" size=50% />
    </div>

    <div class="bordered">
        <div class="video-container">
            <iframe width="500" height="310" src="https://www.youtube.com/embed/dhVzWNos718" title="🕹 LIVE CAMERA PTZ Amazing St. Petersburg Russia Live Chat. Невский пейзаж Санкт-Петербург живой чат" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург, Невский пейзаж (Live!)</h3>
        </div>
        <div class="video-container">
            <iframe width="500" height="310" src="https://www.youtube.com/embed/UVftxDFol90" title="EarthCam Live:  Times Square in 4K" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк, Таймс-сквер (Live!)</h3>
        </div>
        <div class="video-container">
            <iframe width="500" height="310" src="https://www.youtube.com/embed/JplMzss6_YE" title="London Bus Ride 🇬🇧 - ENTERING EVERY BUS - Empty London Lockdown Tour - London Live" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Лондон, Автбусный маршрут (запись)</h3>
        </div>
    </div>
    <!--FOOTER-->
</body>
</html>
